<form class="w-full max-w-xs text-xl bg-grey-lightest p-4 shadow-md">
  <div class="md:flex md:items-center mb-6 flex-col" *ngFor="let datapoint of numberOfEntries">
    <div class="flex flex-row w-64 mb-4">
      <label class="mr-4 w-24">Name: </label>
      <input id="{{datapoint}} name" class="md:w-2/3 bg-grey-lighter border-b-2 p-0 h-10 w-64 text-center" />
    </div>
    <div class="flex flex-row w-64 mb-4">
      <label class="mr-4 w-24">Input Type: </label>
      <input id="{{datapoint}} inputType" class="md:w-2/3 bg-grey-lighter border-b-2 p-0 h-10 w-64 text-center" />
    </div>
    <div class="flex flex-row w-64 mb-4">
      <label class="mr-4 w-24">Unit: </label>
      <input id="{{datapoint}} unit" class="md:w-2/3 bg-grey-lighter border-b-2 p-0 h-10 w-64 text-center" />
    </div>
    <button hidden="" type="button" class="bg-red-dark text-white p-2 rounded hover:bg-red-darker cursor-pointer" (click)="removeDatapoint(datapoint)">Remove</button>
    <br>
    <hr/>
  </div>

  <div class="md:flex md:items-center mb-2">
    <div class="md:w-1/3">
      <button type="button" (click)="addDatapoint()">Add</button>
    </div>
    <div class="md:w-2/3">
      <input type="button" value="Submit" class="bg-grey-dark text-white p-2 rounded hover:bg-grey-darker cursor-pointer">
    </div>
  </div>
</form>
